<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>game_service</servlet-name>
    <servlet-class>com.jirge.server.GameServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>game_service</servlet-name>
    <url-pattern>/bugajiregee2/game_service</url-pattern>
  </servlet-mapping>

   <servlet>
       <servlet-name>Deferred</servlet-name>
       <servlet-class>com.newatlanta.appengine.taskqueue.Deferred</servlet-class>
       <init-param>
            <param-name>queueName</param-name>
            <param-value>default</param-value>
       </init-param>
       <init-param>
            <param-name>taskUrl</param-name>
            <param-value>/tasks/deferred</param-value>
       </init-param>
       <load-on-startup>1</load-on-startup>
   </servlet>

   <servlet-mapping>
       <servlet-name>Deferred</servlet-name>
       <url-pattern>/tasks/deferred</url-pattern>
   </servlet-mapping>


  <welcome-file-list>
    <welcome-file>base.html</welcome-file>
  </welcome-file-list>

</web-app>
